
</div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © MineEarth Wenke Chen
</div>
<div id="global"></div>
</div>
<script src="https://gitee.com/wencochen/No.8-Sunflower/raw/master/global.js"></script>
<script src="/public/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

</body>
</html>